{% extends "overview/../../../overview/templates/overview/../../../overview/templates/overview/base_general.html" %}
{% block content %}
    <div class="introducing-row">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Introducing Floq</p>
            </div>
        </div>
    </div>
    <div class="h1-row">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Effortless <br>
                    workplace coordination<br>
                    for hybrid teams.</h1>
            </div>
        </div>
    </div>
    <div class="description-text">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Floq facilitates hybrid work smoothly integrated into Slack and Microsoft Teams. <br>
                    It simplifies workplace coordination and ensures a healthy company culture.</p>
            </div>
        </div>
    </div>

    <!-- <div class="button-waitlist text-center">
        <a href="https://forms.gle/8M1ejkGiGgbqBdcx5" target="_blank" class="btn btn-primary" role="button">JOIN
            OUR WAITLIST -></a> -->
    </div>
    </div>
    </div>
    </div>
{% endblock content %}